---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
	i18nTitle?: string;
	i18nTagline?: string;
}

const { align = 'center', tagline, title, i18nTitle, i18nTagline } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
		<h1 class="title" data-i18n={i18nTitle || undefined}>{title}</h1>
		{tagline && (
			<p class="tagline" data-i18n={i18nTagline || undefined}>
				{tagline}
			</p>
		)}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
